* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 400px;
    margin: 50px auto;
    background-color: #eee;
    padding: 15px;
}

form>div {
    padding: 5px 0px;
}

form input[type="radio"] {
    -webkit-appearance: none;
    appearance: none
}

form label {
    position: relative;
    padding-left: 25px;
}

form label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid blue;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}

form input[type="radio"]:checked+label::After,
form input[type="radio"]:not(:checked):hover+label::After {
    content: "";
    background-color: blue;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 4px;
    top: 4px;
}

form input[type="radio"]:not(:checked):hover+label::After {
    opacity: 0.2;
}

form input[type="radio"]:checked+label {
    color: blue;
}