* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #eee;
}

#nav-bar {
    position: absolute;
    top: 0px;
    left: 0px;
}

@media screen and (max-width:992px) {
    nav-bar {
        background-color: aqua;
    }
}

ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}